{% extends "layouts/base.html" %}  

{% block content %}
<section class="dance-item">
  <header class="hero">
    <div class="[ hero__inner ] [ wrapper ]">
      <div class="[ hero__content ] [ dot-shadow radius flow ] [ bg-dark-shade color-light flow-space-400 ]">
        <h1 class="[ headline ] [ measure-compact ]" data-highlight="quinary">
          {{ title }}
        </h1>
        <p class="measure-short">{{ summary }}</p>
      </div>
    </div>
  </header>
  <article>
<script type="text/vnd.abc">
%abc-2.2
% %musicfont url(../../js/abc2svg/abc2svg.woff)
% %pagewidth 14cm
% %bgcolor white
%%topspace 0
%%composerspace 0
%%leftmargin 0.8cm
%%rightmargin 0.8cm
</script>
{{ content | safe }}
  </article>
</section>
{% endblock %}
