{% extends "layouts/base.html" %}  

{% block content %}
<section class="work-item">
  <header class="hero">
    <div class="[ hero__inner ] [ wrapper ]">
      <div class="[ hero__content ] [ dot-shadow radius flow ] [ bg-dark-shade color-light flow-space-400 ]">
        <h1 class="[ headline ] [ measure-compact ]" data-highlight="quinary">
          {{ title }}
        </h1>
        <p class="measure-short">{{ summary }}</p>
      </div>
    </div>
    <img src="{{ hero.image }}" alt="{{ hero.imageAlt }}" class="hero__image" />
  </header>
</section>
{% endblock %}
